/* -- reset -- */
* {
	box-sizing: border-box;
	} 

body, h1,h2,p,ul,li,a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial;
	color: #ffff;
    background-color: #f2c300; 
    background-image: linear-gradient(#f2c300, #ff7900);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

/* Menu */

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu a{
    color: white;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    font-size: 1.25em;
    padding: 10px;
}

.menu-nav a:hover{
    color: #122ab2;
}

/* Introducao */
.introducao{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.subtitulo{
    text-align: center;
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
}

.sobre{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 2 1 300px;/* flex bases 300, tamanho minimo da imagem para quebrar, sem isso a imagem fica minuscula*/
}

.sobre-info h1{
    font-size: 36px;
    margin-bottom: .2em;
    text-align: center;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
}

.sobre-img{
    flex: 1 1 160px;
    margin: 10px;
}

/*slider*/
.mySlides {
    margin: 0 auto;
}

.slider{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.btn-esquerda{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.btn-direita{
   display: flex;
   flex-direction: column;
   justify-content: center;;
}

.w3-black{
    border-radius: 50%;
    color:#f2c300;
    background-color:#fff;
    opacity: .8;    
}

.w3-black:hover{
    background-color:#2e2100;      
}

.w3-button{
    border:none;
    padding:10px 15px;
}

/*Problema*/
.problema{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.problema-1{
    flex: 2 1 300px;/* flex bases 300, tamanho minimo da imagem para quebrar, sem isso a imagem fica minuscula*/
    margin: 0 20px;
}

.problema-1 h1{
    font-size: 36px;
}

.problema-1 p {
    font-size: 1.25em;
    line-height: 1.4;
}

.problema-1 h1{
    text-align: center;
}

.problema-50 h1{
    text-align: right;
    font-size: 100px;
}

/* Banner*/

.laranja{
    color: #f89c00;
}

.marrom{
    color: #2e2100;
}

.banner{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.center-text{
    text-align: center;
}

.laranja h1{
    padding-bottom: 40px;
}

.pad{
    padding-top: 50px;
}

/* Produtos*/

.produtos {
    max-width: 960px;
    margin: 50px auto;
}

.produtos h1{
    font-size: 36px;
    text-align: center;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px; 
}

.equipe{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.download{
 background: none;
 border: none;
}

.sobre-info h2{
    margin: 40px;
    text-align: center;
}


@media (max-width: 800px){/* padding para responsivo*/
    .preco{
        padding-left: 10px;
        padding-right: 10px;
    }
    .preco .preco-item:nth-child(3){
        order: -2;
    }
    .preco .preco-item:nth-child(2){
        order: -1;
    }
}

@media (max-width: 600px){
    .newsletter-form button{
    font-size: 1.5em;
    }
}

/* footer */


.footer{
    display: flex;
    height: 50px;
    background: #2e2100;
    align-items: center;    
}

.footer p{
    flex: 1;
    text-align: center;
    color: #fff;
}





